<!DOCTYPE html>
<html lang="pt-Br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coletor</title>
    <!--  bootstrap   -->
    <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css">
    <!--  icones page  -->
    <link rel="stylesheet"  type="text/css"  href="/fontawesome/css/all.min.css">
    <!-- Tabela Javascript  -->
    <link rel="stylesheet" type="text/css" href="/datatable/datatables.min.css"> 
    <!--  Cria calendario  -->
    <link rel="stylesheet" type="text/css" href="/daterangepicker/daterangepicker.css">
    <!--  Select2   -->
    <link rel="stylesheet" type="text/css" href="/select2/css/select2.min.css"> 
    <!--  CSS stylo geral da Pagina   -->
    <link rel="stylesheet" type="text/css" href="/css/geralPage.css"> 
</head>
