<nav class="navbarColor container-fluid h-100">

    <div class="nav_image">
        <a class="navbar-brand" href="#">
        </a>
    </div>
    

    <div class="nav_text">
        <p>FLEXOTOM</p>
    </div>
    
    
     
    <div class="navbarLink">
        <% if(privilegio1 >= 1) { %>
        <a class="nav-link" href="/"><i class="fas fa-eye"></i>CADASTRAR LOTE</a>
        <a class="nav-link" href="/"><i class="fa-solid fa-chart-pie"></i>VINCULAÇÃO DE LOTE</a>
        <a class="nav-link" href="/"><i class="fa-solid fa-chart-pie"></i>VISUALIZAR LOTE</a>    
        <% } %>
    </div>
    

</nav>


<div class="modal fade" id="message" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" id="messageDiv" role="document">
        <div class="modal-content" id="messageDivChildren">
            <div class="modal-body text-center"><span id="messageText"></span></div>
        </div>
    </div>
</div>

