<%- include ('../partials/header.ejs'); -%>
    <%- include ('../partials/navbar.ejs'); -%>

<main class="container_main">
    <section class="container_section_first">
        <div class="group_seleciona_materia">
            <div class="form-group group_input_parametros">
              <label for="">MATERIA PRIMA</label>
              <select class="form-control selectPrima" id="materiaPrima"></select>
            </div>

            <div class="form-group group_input_parametros">
                <label for="">LOTE</label>
                <input type="text" class="form-control inputPrima" id="materiaPrimaLote" placeholder="">
            </div>

            <!--
            <div class="form-group group_input_parametros">
                <label for="">MATERIA SELECIONADA</label>
                <input type="text" class="form-control inputPrima" id="materiaPrimaSelecionada" placeholder="" readonly>
            </div>
            -->

            <button class="btn_criar" id="btnCriarLote">CRIAR LOTE</button>
        </div>

        <div class="group_selectiona_btn">
            <button class="btn_tabela" id="btn_imprimir">IMPRIMIR LOTE</button>
            <button class="btn_tabela" id="btn_deletar">DELETAR LOTE</button>
        </div>
    </section>
    <section class="container_section_second">
        <div class="container_table">
            <table class="table text-black tabela_Cadastro" id="tabela-CadastroLote"></table>
        </div>
    </section>
</main>

<div class="modal fade justify-content-center align-items-center align-self-center" id="barCodeModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" id="messageDiv" role="document">
        <div class="modal-content" id="barCodeDiv">
            <div class="modal-body justify-content-center align-items-center align-self-center text-center" id="barCodeBody">
                <p id="mensagemBarcode"></p>
                <img id="idBarcode"></img>
                <button type="button" class="btn btn-dark" id="btn_imprimir_barcode">IMPRIMIR</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade justify-content-center align-items-center align-self-center" id="deleteModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" id="barCodeDivPrincipal" role="document">
        <div class="modal-content modal_global_vincula" id="barCodeDiv">
            <section class="geral_modal_vincular">
                    <H3>DELETAR LOTE</H3>
                    <div class="form-group group_input_parametros">
                        <label for="">LOTE</label>
                        <input type="text" class="form-control input_modal_vincula" id="delete_lote" placeholder="">
                    </div>

                    <div class="form-group group_input_parametros">
                        <label for="">MATERIA PRIMA</label>
                        <input type="text" class="form-control input_modal_vincula" id="delete_materia" placeholder="">
                    </div>
                    
                    <div class="form-group group_input_parametros">
                        <button class="btn_vincular_lote" id="btnDeletar">DELETAR LOTE</button>
                    </div>
            </section>
        </div>
        </div>
    </div>
</div>

<%- include ('../partials/footer.ejs'); -%>
<script type="module" src="/js/cadastroLote/cadastroLote.js"></script>