<%- include ('../partials/header.ejs'); -%>
<%- include ('../partials/navbar.ejs'); -%>


<main class="container_main">
    <section class="container_section_first">
        <div class="group_selectiona_btn group_visualizarLote">
           <!--<button class="btn_tabela" id="btn_vincular_lote">ALTERAR</button>--> 
        </div>
    </section>

    <section class="container_section_second container_section_visualizar">
        <div class="container_table table_vincular_principal table_visualizar_principal">
            <table class="
            table text-black
            tabela_Cadastro
            table_vinculo 
            tabela_visualizar_lote" 
            id="tabela-VisualizarLote"
            >
            </table>
        </div>
    </section>
</main>





<%- include ('../partials/footer.ejs'); -%>
<script type="module" src="/js/visualizarLote/visualizarLote.js"></script>
