.container_main {
    display: flex;
    flex-direction: column;
    height: 90vh;
    padding: 1rem;}

.container_section_first {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    justify-content: space-between;
}

.group_seleciona_materia {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30.8rem;
    height: 28rem;
    background-color: rgba(217, 217, 217, 0.5);
    border-radius: 0.62rem;
    gap: 1rem;
    padding: 1.28rem;
}

.group_seleciona_materia label {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
    color: #F3E8FF;
}

.group_input_parametros {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.group_selectiona_btn {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: flex-end;
    gap: 1rem;
    height: 28rem;
}

.selectPrima,
.inputPrima {
    height: 3rem;
    border-radius: 0.62rem;
}

.btn_criar {
    background: #D9D9D9;
    height: 4.8rem;
    color: #53B365;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
    border-radius: 0.62rem;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.btn_tabela {
background: #D9D9D9;
    width: 10rem;
    height: 3rem;
    color: #53B365;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    border-radius: 0.62rem;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

@media(max-width: 1200px) {

    .group_seleciona_materia {
        width: 25rem;
    }
}


@media(max-width: 900px) {

    .group_seleciona_materia {
        width: 20rem;
    }

    .group_seleciona_materia label {
        font-size: 1.1rem;
    }

    .btn_criar {
        font-size: 1.1rem;
        height: 3rem;
    }

    div.dataTables_wrapper div.dataTables_filter {
        text-align: right;
    }
}


@media(max-width: 700px) {


}

@media(max-width: 380px) {


}