<%- include ('../partials/header.ejs'); -%>
    <%- include ('../partials/navbar.ejs'); -%>

<main class="container_principal">
    <section>
        <div class="container_link">
            <img src="/image/pageSelection/arrow_low.svg" alt="">
            <a href=""></a>
        </div>

        <div class="container_link"> 
            <img src="/image/pageSelection/arrow_low.svg" alt="">
            <a href=""></a>
        </div>

        <div class="container_link">
            <img src="/image/pageSelection/binoculos.svg" alt="">
            <a href=""></a>
        </div>
    </section>
</main>
        
<%- include ('../partials/footer.ejs'); -%>
<script type="module" src="/js/pageSelection/pageSelection.js"></script>